.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(254, 246, 233, 1); 
    padding: 60px 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
}

.intro-title {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #5a4e42;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.intro-text {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    color: #7a6453;
    max-width: 750px;
    line-height: 1.6;
}
