.header {
  position: relative;
  text-align: center;
  color: white;
  height: 102vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  z-index: 2;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header-subtitle {
  width: 700px; 
  height: 240px; 
  left: 120px; 
  top: 200px; 
  position: absolute; 
  color: #f6dec2;
  font-size: 60px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;
  direction: right;
  text-align: start;
  z-index: 2;
}


