.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(254, 246, 233, 0.9); /* Varm beige med let gennemsigtighed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
    border-bottom: 3px solid #A47764;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: auto;
}

.nav-link {
    color: #5A4E42;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #A47764;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 45px;
    height: 45px;
    background-color: #A47764;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-icon:hover {
    background-color: #8C5B50;
}

.search-img {
    width: 25px;
    height: 25px;
}

.search-input {
    padding: 8px;
    border: 2px solid #A47764;
    border-radius: 5px;
    width: 160px;
    margin-left: 10px;
    font-family: "Inter", sans-serif;
}

