.blogs-container {
    max-width: 800px;
    margin: 90px auto;
    padding: 20px;
    background: #fef6e9;
    border: 1px solid #d4c1a1;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    font-family: "Inter", sans-serif;
}

.blog-list h1, .blog-post h1 {
    text-align: center;
    font-size: 36px;
    color: #a47764;
    margin-bottom: 20px;
}

.blog-item {
    background: #fffdf5;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.blog-item:hover {
    transform: scale(1.02);
}

.blog-item h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-item p {
    color: #555;
    font-size: 16px;
}

button {
    display: inline-block;
    background: #a47764;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #8b5e4a;
}

.blog-post p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .blog-container {
        width: 90%;
    }

    .blog-list h1, .blog-post h1 {
        font-size: 28px;
    }

    .blog-item h2 {
        font-size: 20px;
    }
}
